<div class="displayPage" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col s12 m4 l3">
      <img class="img-responsive" src="http://placehold.it/250x150">
    </div>
    <div class="col s12 m4 l8">
      <div class="row">
        <h4>{{businesses.name}}</h4>
      </div>
      <div class="row binfo">{{businesses.address}}</div>
      <div class="row binfo">{{businesses.phone_number}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 l8">
      {{#if isAuthenticated}}
      <div class="card-panel z-depth-3">
        <div class="row">{{name}}</div>
        <div class="row">
          <img data-star='1' class='starHover' src="../images/star_empty.png" alt="" />
          <img data-star='2' class='starHover' src="../images/star_empty.png" alt="" />
          <img data-star='3' class='starHover' src="../images/star_empty.png" alt="" />
          <img data-star='4' class='starHover' src="../images/star_empty.png" alt="" />
          <img data-star='5' class='starHover' src="../images/star_empty.png" alt="" />
        </div>

        <div class="row">
          <form class="col s12" action='/create_review' method='POST'>
            <div class="input-field">
              <input type="hidden" name="rating" id='starRatingInput' value="">
              <input type="hidden" name="BusinessId" id='businessInput' value={{businesses.id}}>
              <input id="input_text" type="text" length="300" name='message'>
              <label for="input_text">Review....</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
        <div class="input-field"></div>
      </div>
      {{/if}}

      <div class="row display-reviews">
        * * * * *   ADD STAR RATING FILTER
      </div>
      {{#each businesses.Reviews}}
      <div class="row display-reviews">
        <div class="col s12 m6 l4">
          <div class="row">
            <img class="img-responsive" src="http://placehold.it/200x130">
            </br>
            <span id="displayname">{{username}}</span>
          </div>
        </div>
        <div class="col s12 m6 l8">
          <div class="row">
            <span class="displayreview">{{rating}}</span>
          </div>
          <div class="row">
            <span class="displayreview">{{message}}</span>
          </div>
        </div>
      </div>
      {{/each}}


    </div>

    <div class="col s12 m4 l4">
      <div class="row">
        <div class="card-panel z-depth-3">
          <div class="row"><span>Location Hours</span></div>
          <div class="row">hours.....</div>
        </div>
      </div>

      <div class="row">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Categories</h4></li>
          <li class="collection-item"><div>Restaurants<a href="/places-things/Restaurant" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Bars<a href="/places-things/Restaurant" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Entertainment<a href="/places-things/Entertainment" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Retail<a href="/places-things/Retail" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Medical<a href="/places-things/Medical" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Transportation<a href="/places-things/Transportation" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>RU Buildings<a href="/places-things/RUBuilding" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Places of Worship<a href="/places-things/Religion" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Automotive<a href="/places-things/Automotive" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Active Life<a href="/places-things/ActiveLife" class="secondary-content"><i class="material-icons">send</i></a></div></li>
          <li class="collection-item"><div>Beauty & Spas<a href="/places-things/Beauty&Spas" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      </div>
    </div>
  </div>

</div>
